.login-container {
    text-align: center;
    width: 200px;
    margin: 3rem auto;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: black 0 0 0.1rem;
    background-color: #f3f4f6;
}