.counter-container {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: aqua;
    margin:0.5rem;
}

.counter-title {
    color: teal;
}

.counter-value {
    font-size: x-large;
    font-weight: bold;
    margin: 0 0.5rem;
}

.btn-counter{
    width: 2.5rem;
    height: 2.5rem;
}